
/* Asegura que el contenido principal siempre esté sobre el fondo galaxia */
#root, .home-root, .perfil-root, .categorias-list-root, .productos-list-root, .testimonios-page-root, .sobre-nosotros-root, .faq-root, .terminos-root, .confirmacion-exitosa-root, .confirmacion-pendiente-root, .soporte-cliente-root, .checkout-carrito-root, .checkout-compra-directa-root, .mis-pedidos-root, .compra-confirmada-root {
  position: relative !important;
  z-index: 1 !important;
}
body {
  background: #000 !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
